footer{
    .container-conoce-mas{
        grid-column: 1 / 13;
        padding-top: 3em;
        padding-bottom: 4em;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        position: relative;
        z-index: 10;
        clip-path: polygon(0 calc(0% + 4vw), 100% 0, 100% 100%, 0 100%);
        margin-top: 10vw;
        //display flex//
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 510px) {
            .container-footer{
            padding-top: 8em;
            padding-bottom: 8em;
        }
    }
    }

    h2{
        font-family: "IBM Plex Sans";
        font-size: 36px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 42px;

        @media (min-width: 800px) {
            font-family: "IBM Plex Sans";
            font-size: 48px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
        }
    }

    .boton{
        
            //tipografia//
            font-family: 'IBM Plex Mono';
            font-weight: 500;
            font-size: 16px;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            //layout//
            background: #00F3BB;
            border: none;
            height: 3em;
            width: 18em;
            max-width: 100%;
            transition: 0.5s ;
        
    }
    .boton:hover{
            cursor: pointer;
            background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
            color: white;
    }

}
.container-footer{
    grid-column: 2 / 12;
    padding: 5em 0;
    //display flex// 
    display: flex;
    flex-direction: column;
    place-items: center;

    .rights{
        font-family: 'IBM Plex Mono';
        font-weight: 400;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }

    .redes-sociales{
        width: 100%;
        //display flex//
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
        }
        i{
            
        }
    }
}