$color-primario: #0000EC;
header{
    grid-row: 2 / 4;
    background-color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    .izquierda{
        
        .logo{
            display: block;
            padding: 15px;
            
    }
    }
    .derecha{
        
        width: 0 auto;
        
    nav{
        .menu-btn{
            display: none;
        }
        .menu-btn:checked ~ .menu{
            display: block;
            
            
        }
        .menu-btn:checked ~ .menu-icon .nav-icon{
            background-color: transparent;

        }
        .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top: 0;
        }
        .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top: 0;
        }
        .menu-icon{
            padding: 18px 18px;
             cursor: pointer;
             
             
             .nav-icon{
                background-color: black;
                display: block;
                height: 2px;
                width: 16px;
                position: relative;
                
            }
            .nav-icon:before{
                background-color: black;
                content:"";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 5px;
                
            }
            .nav-icon:after{
                background-color: black;
                content:"";
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top:-5px;
                
            }
        }
        }
        .menu{
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: $color-primario;
            display: none;
            position: absolute;
            right: 0;
            top: 45px;
            width: 100%;
            a{
                color: #FFFFFF;
                text-decoration: none;
                display: block;
                padding: 1em;
                font-size: 16px;
            }
            a:hover{
                font-size: medium;
                color: #00F3BB;
                text-decoration: line-through;
            }
            
        }
    }

       
        
}
@media (min-width: 600px){
    header{
        grid-row: 2 / 4;
        margin: 0 auto;
        max-width: 0 auto;
        display: flex;
        justify-content: space-between;
        .izquierda{
            
            .logo{
                padding: 15px;
                margin: 0 auto;
                
        }
        }
        .derecha{
        
            width: 0 auto;
             nav{
                .menu-icon{
                display: none;
                }
                .menu{
                background-color: #FFFFFF;
                display: flex;
                position: relative;
                top: 0.3em;
                
                li{
                
                    a{
                        padding: 1em;
                        color: #060A24;
                        font-size: 16px;
                        transition: all .5s;
                    }
                    a:hover{
                        font-size: medium;
                        color: #00F3BB;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }  
    }


}