.container-donde-venimos {
    grid-column: 2 / 12;
    position: relative;
    top: -5em;
    z-index: 40;

    h2{
        grid-column: 2 / 10;
        font-family: 'IBM Plex Sans';
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
    }

    p{
        grid-column: 2 / 12;
        font-family: 'IBM Plex Mono';
        font-weight: 400;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }

    .celular{
            grid-column: 1 / 13;
            width: 100%;
            max-width: 457px;
            height: auto;
    }
    


    @media (min-width:860px) and (max-width:1060px){
        display: flex;    
        justify-content: space-evenly;
        align-items: center; 
    }   
    
    @media (min-width:1060px){
        display: flex;    
        justify-content: space-around;
        align-items: center;
        
        h2{
            font-family: 'IBM Plex Sans';
            font-size: 48px;
            color: #060A24;
            letter-spacing: 0;
            font-weight: 400;
        }

        .celular{
            position: relative;
            top: 3em;
        }
        .container-text {
            p{
                grid-column: 2 / 9;
                font-family: 'IBM Plex Mono';
                font-size: 16px;
                color: #060A24;
                letter-spacing: 0;
                line-height: 24px;
            }
        }
    }
}